@model List<WebsiteBanQuanAo.Models.GioHang>
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section slmua {
    <span id="cartItemCount">@ViewBag.SLSP</span>
}
@section css{
    <style>
        .payment-option label {
            padding: 10px;
            border: 2px solid transparent;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .payment-option input[type="radio"] {
            display: none; 
        }

     
            .payment-option input[type="radio"]:checked + label {
                background-color: #28a745; 
                border-color: #28a745;
                color: white;
            }


        .payment-option label:hover {
            border-color: #28a745;
        }
    </style>
}
<form action="@Url.Action("Index", "Pay")" method="post" class="payment-container container my-5">
    <div style="height:100px"></div>
    <h2 class="payment-title" style="text-align: center;">Thông tin đơn hàng</h2>

    <h4>Địa chỉ giao hàng</h4>
    <div class="mt-3">
        <a href="@Url.Action("Index", "Address")" class="btn" style="width: 100%;">
            <div class="address-info p-3 border rounded mb-4 d-flex justify-content-between align-items-center">
                <div class="address-details" style="width: 100%; text-align: left; font-weight: bold;">
                    @if (ViewBag.DiaChiGiaoHang != null)
                    {
                        var selectedAddress = ViewBag.DiaChiGiaoHang;
                        <div class="address-row d-flex">
                            <p style="width: 150px; margin: 0;">Tên người nhận:</p>
                            <p style="margin: 0;">@selectedAddress.TenNguoiNhan</p>
                        </div>
                        <div class="address-row d-flex">
                            <p style="width: 150px; margin: 0;">Số điện thoại:</p>
                            <p style="margin: 0;">@selectedAddress.SoDienThoai</p>
                        </div>
                        <div class="address-row d-flex">
                            <p style="width: 150px;margin: 0;">Địa chỉ:</p>
                            <p style="margin: 0;">@selectedAddress.DiaChiGiaoHang</p>
                        </div>
                    }
                    else
                    {
                        <div>
                            <p>Không có địa chỉ giao hàng được chọn. <a href="@ViewBag.AddAddressLink">Thêm địa chỉ giao hàng</a></p>
                        </div>
                    }
                </div>
                <div class="add-address-icon d-flex align-items-center" style="min-width: 150px; text-align: right; padding-left: 20px;">
                    <p style="margin-left: 5px;"><i class="fas fa-plus"></i>Thêm Địa Chỉ</p>
                </div>
            </div>
        </a>
    </div>

    <h4>Thông tin đơn hàng</h4>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                decimal totalPrice = 0;
            }
            @foreach (var item in Model)
            {
                decimal price = item.ChiTietSanPham.Gia * item.SoLuong;
                totalPrice += price;
                <tr class="order-item align-middle">
                    <th scope="row">@i</th>
                    <td>
                        <img class="img-thumbnail" style="max-height: 80px; width: auto;" src="~/img/@item.ChiTietSanPham.HinhAnhUrl" alt="@item.ChiTietSanPham.SanPham.TenSanPham" />
                    </td>
                    <td>
                        <span class="product-name">@Html.DisplayFor(model => item.ChiTietSanPham.SanPham.TenSanPham)</span>
                        <br />
                        <span class="product-size">Size: @item.ChiTietSanPham.Size.TenSize</span>
                        <br />
                        <span class="product-color">Màu: @item.ChiTietSanPham.Mau.TenMau</span>
                    </td>
                    <td>
                        <span class="product-quantity">@item.SoLuong</span>
                    </td>
                    <td>
                        <span class="product-price">@price.ToString("N0") VNĐ</span>
                    </td>
                </tr>
                i++;
            }

            <tr class="order-total-row">
                <td colspan="3" class="text-center fw-bold">Tổng Tiền</td>
                <td colspan="2" class="fw-bold text-danger">@totalPrice.ToString("N0") VNĐ</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <label class="form-label">Phương Thức Thanh Toán</label>
        <div class="d-flex">
            <div class="payment-option me-3" style="padding-right:30px">
                <input type="radio" name="paymentMethod" id="vnpay" value="vnpay" required>
                <label class="form-check-label d-flex align-items-center" for="vnpay">
                    <img src="~/img/vnpay.png" alt="Ví VNPay" class="payment-icon me-2" style="width:80px; height:auto">VNPAY
                </label>
            </div>
            <div class="payment-option" style="padding-right:30px">
                <input type="radio" name="paymentMethod" id="cash" value="tiền mặt" required>
                <label class="form-check-label d-flex align-items-center" for="cash">
                    <img src="~/img/tienmat.jpg" alt="Thanh Toán Khi Nhận Hàng" class="payment-icon me-2" style="width:80px; height:auto;">THANH TOÁN KHI NHẬN HÀNG
                </label>
            </div>
        </div>
    </div>

    <div class="payment-actions mt-4 d-flex justify-content-between">
        <a href="/product" class="btn btn-outline-secondary">Tiếp tục mua hàng</a>
        <button type="submit" class="btn btn-success mt-3">Xác nhận thanh toán</button>
    </div>
</form>
