@model List<WebsiteBanQuanAo.Models.ChiTietSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section css{
    <style>
        .rating {
            font-size: 1.2em; 
            color: gold;
        }

            .rating i {
                margin-right: 2px; 
            }

        .product-img {
            height: 300px;
            overflow: hidden;
        }

        .product-img-fixed {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .smart-suggestion-button {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.2s;
        }

            .smart-suggestion-button:hover {
                background-color: #0056b3; 
                transform: scale(1.05); 
            }

            .smart-suggestion-button:active {
                transform: scale(0.95); 
            }
    </style>
}
@section slmua{
    <span id="cartItemCount">@ViewBag.SLSP</span>
}
@{
    string IconClass = "";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        IconClass = "fa-sort-asc";
    }
    else
    {
        IconClass = "fa-sort-desc";
    }
}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Sản Phẩm</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/Home/index">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">TÌM KIẾM</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form action="/Product">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" name="search" class="form-control p-3" placeholder="Tìm Kiếm sản phẩm" aria-describedby="search-icon-1" value="@ViewBag.search"
                                       style="border-radius: 20px 0 0 20px;" />
                                <button type="submit" id="search-icon-1" class="input-group-text p-3"
                                        style="background-color: #ccc; border-radius: 0 20px 20px 0; border: none;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="ml-2">
                                <div class="btn-group">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" style="font-size: 25px" href="#" id="sortDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Sắp Xếp <i class="fas fa-sort"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                                <li><a class="dropdown-item" href="/Product?SortColumn=Price&IconClass=asc">Giá tăng dần</a></li>
                                                <li><a class="dropdown-item" href="/Product?SortColumn=Price&IconClass=desc">Giá giảm dần</a></li>
                                                <li><a class="dropdown-item" href="/Product?SortColumn=Price&IconClass=asc">Tên A-Z</a></li>
                                                <li><a class="dropdown-item" href="/Product?SortColumn=Price&IconClass=desc">Tên Z-A</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div style="height:10px">

                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Danh Mục Quần Áo</h4>
                                    <ul class="list-unstyled clothing-categories">
                                        @foreach (var b in ViewBag.dm)
                                        {
                                            int Temp = 0;
                                            <li>
                                                <div class="d-flex justify-content-between clothing-name">
                                                    <a href="/product/index/@b.DanhMucID"><i class="fas fa-tshirt me-2"></i>@b.TenDanhMuc</a>
                                                    @foreach (var a in ViewBag.sp)
                                                    {
                                                        if (a.DanhMuc.TenDanhMuc == b.TenDanhMuc)
                                                        {
                                                            Temp++;
                                                        }
                                                    }
                                                    <span>@Temp</span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">

                            @foreach (var a in Model)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <a href="/product/details/@a.SanPhamID">
                                                <img src="~/img/@a.HinhAnhUrl" class="img-fluid w-100 rounded-top product-img-fixed" alt="">
                                            </a>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                            <p>
                                                @a.SanPham.DanhMuc.TenDanhMuc
                                            </p>
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <a href="/product/details/@a.SanPhamID">
                                                <h4>@a.SanPham.TenSanPham</h4>
                                            </a>
                                            <a href="/product/details/@a.SanPhamID">
                                                <h4>@a.Gia</h4>
                                            </a>
                                         
                                            <div class="rating">
                                                @{
                                                }

                                                @if (a.SanPham.SoSaoTB != 0)
                                                {
                                            
                                                    for (int i = 1; i <= 5; i++)
                                                    {
                                                        <i class="fa fa-star" style="color:@(i <= a.SanPham.SoSaoTB ? "gold" : "gray")"></i>
                                                    }
                                                }
                                                else
                                                {
                                    
                                                    <span>Chưa có đánh giá</span>
                                                }
                                            </div>
                                     
                                            <p class="text-muted mb-2">Đã bán: @a.SanPham.SoLuongDaBan</p>

                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="pagination d-flex justify-content-center mt-5">
                                @{
                                    int PrevPage = ViewBag.Page - 1;
                                    if (PrevPage <= 0)
                                    {
                                        PrevPage = 1;
                                    }
                                    int NextPage = ViewBag.Page + 1;
                                    if (NextPage > ViewBag.NoOfPages)
                                    {
                                        NextPage = ViewBag.NoOfPages;
                                    }

                                    int StartPage = Math.Max(1, ViewBag.Page - 5);
                                    int EndPage = Math.Min(ViewBag.NoOfPages, StartPage + 6);
                                }
                                <a href="/Product?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=1" class="rounded">Trang đầu</a>
                                <a href="/Product?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@PrevPage" class="rounded">Trang trước</a>

                                @for (int i = StartPage; i <= EndPage; i++)
                                {
                                    if (i == ViewBag.Page)
                                    {
                                        <a href="/Product?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@i" class="active rounded">@i</a>
                                    }
                                    else
                                    {
                                        <a href="/Product?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@i" class="rounded">@i</a>
                                    }
                                }

                                <a href="/Product?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@NextPage" class="rounded">Tiếp theo</a>
                                <a href="/Product?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@ViewBag.NoOfPages" class="rounded">Trang cuối</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

